
.city{
    width: 100%;

}
.city-text{
    width: 100%;
}
 .city h4{
     margin-top: 0px;
 }

.city img {
    width: 100%;

}

table,td, th{
    border: solid .2rem black;
  }
  
  table{
    border-collapse: collapse;
    width: 70%;
  }
  
  table th{
    color: steelblue;
  }
  table td{
      font-size: 85%;
  }
 
  p{
    padding: 0px;
  }
  .museum-text, .castle-text, .hall-text{
    width: 46%;
  }
  
  .museum, .castle, .hall{
    width: 46%;
  }
  .row p{
      font-size: 1rem;
  }

  .name{
      background: rgb(65, 62, 62);
  }

  .name{
    background: rgb(65, 62, 62);
}
  .name h1{
    color: white;
    margin: 6px 0px;  
    text-align: center; 
    margin: auto;
}
.mountain img{
    margin: auto;
}

.text{
    width: 50%;
    margin: auto;
}
 .mountain{
     width: 50%;
 }

.container{
    background: whitesmoke;
}

.history{
    height: auto;
    width: 100%;
    background: rgb(65, 62, 62);
    
}

.history img{
    width: 100%;
}

.hall-container, .castle-container{
    background-color: rgb(65, 62, 62);
    width: 96%;
    margin: 0;
   
   
}

.museum-container{
    background-color: steelblue;
    width: 96%;
    
}

.history p{
    color: white;
    
}

.history img{
    margin-top: 6rem;
}

h3{
    color: white;
    margin-top:0% ;
}

h2{
    color: steelblue;
    text-align:  center;
}
h1{
    width: 50%;
}
/* 
@media(min-width:720px){

    .history{
        display: flex;
    }
    .history p{
        font-size: 75%;
    }
} */