.container{
    padding: 2rem;
    background: whitesmoke;
}

.name{
    display: flex;
    align-items: center;
    background-color: rgb(65, 62, 62);  
    
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
/* .name .name-image{
    margin: auto;
    align-items: flex-end;
} */

.name img{ 
    margin-right: 2rem;
    width: 75%;

}
.name-image{
    width: auto;
    margin: auto;
}

.name-text{
    padding: 1rem;
    color: white;
    width: 50%;
    margin: auto;
    
}

h1{
    background-color: steelblue;
    border-radius: .5rem;
    padding: .5rem 2rem;
    width: 50%;
    font-size: 75;
}
h3{
    text-align: center;
}

.city-container{
    justify-content: space-between;
  
}

.city-text{
    width: 100%;
    padding-left: 2% ;
}

table,td, th{
    border: solid .2rem black;
}

table{
    border-collapse: collapse;
    width: 70%;
}

.th{
    color: steelblue;
}

.places{
    justify-content: space-between;
    width: auto;
}

.first_place, .second_place, .third_place{
    display: flex;
    margin-bottom: 2rem ;
    background-color: rgb(65, 62, 62);  
}

.first_place_image, .second_place_image, .third_place_image{
    width: 100%;
    height: auto; 
    margin: auto;; 
}


.first_place_text, .third_place_text{

    padding-top: 0rem;
    color: white;

}

.first_place_text li, .second_place_text li, .third_place_text li{
    font-size: 75%;
}

.second_place{
    background-color: steelblue;
}

.second_place_text{
    color: white;

}

.places img{
    width: 80%;
}

@media(min-width: 800px){
    .first_place, .second_place, .third_place{
        
        
        /* margin-right: 2rem; */
         display: flex; 
         width: 33%;
    }
    .city-container{
        justify-content: space-between;
        display: flex;
        
        
    }

    .first_place_text li, .second_place_text li, .third_place_text li{
        font-size: 75%;
    }
    
    
.places{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
 .second_place_image{
    order: 2 ;
}

.second_place{
    background-color: steelblue;
}

.places ul{
    padding-inline-start: 40px;
}

.first_place_text, .second_place_text, .third_place_text{
    width: 100%;
}

.first_place_image, .second_place_image, .third_place_image{
    width: 100%;
    margin: auto;
}
.places ul{
    font-size: 65%;
}
.places img{
    width: 80%;
}



}
@media(max-width:500px){
    .name{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 75%;

    }
}